<!DOCTYPE html>
<html>
<head>
<title>About</title>

<style>
body{
    font-family:'Segoe UI';
    background:linear-gradient(135deg,#141e30,#243b55);
    color:white;
    text-align:center;
}

.card{
    margin:50px auto;
    padding:25px;
    width:60%;
    background:rgba(255,255,255,0.1);
    border-radius:15px;
}
button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    border-radius:20px;
    background:#ff7e5f;
    color:white;
}
</style>
</head>

<body>

<div class="card">
<h1>🎧 Emotion Music Player</h1>

<p>This project recommends music based on mood.</p>

<p>
Features:<br>
• Mood detection<br>
• Search songs<br>
• YouTube integration<br>
</p>

<button onclick="location.href='/'">⬅ Back</button>
</div>

</body>
</html>
